// BEGIN GLOBAL MANDATORY STYLES
link(href='https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700&display=swap', rel='stylesheet')
link(href='bootstrap/css/bootstrap.min.css', rel='stylesheet', type='text/css')
link(href='assets/css/plugins.css', rel='stylesheet', type='text/css')
link(href='assets/css/tables/table-basic.css', rel='stylesheet', type='text/css')
// END GLOBAL MANDATORY STYLES
// BEGIN PAGE LEVEL PLUGINS/CUSTOM STYLES
style.
  /*
  The below code is for DEMO purpose --- Use it if you are using this demo otherwise, Remove it
  */
  .navbar .navbar-item.navbar-dropdown {
  margin-left: auto;
  }
  .layout-px-spacing {
  min-height: calc(100vh - 125px)!important;
  }
// END PAGE LEVEL PLUGINS/CUSTOM STYLES