// BEGIN GLOBAL MANDATORY SCRIPTS
script(src='assets/js/libs/jquery-3.1.1.min.js')
script(src='bootstrap/js/popper.min.js')
script(src='bootstrap/js/bootstrap.min.js')
script(src='plugins/perfect-scrollbar/perfect-scrollbar.min.js')
script(src='assets/js/app.js')
script.
  $(document).ready(function() {
  App.init();
  });
script(src='assets/js/custom.js')
// END GLOBAL MANDATORY SCRIPTS
// BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS
// BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS