extend ../base/base_list.pug

block list
  a.btn.btn-primary.mb-2(href='/members/create') Crear

  .table-responsive
    table.table.table-bordered
      thead
        tr
          th Cédula
          th Nombres
          th Apellidos
          th.text-center Opciones
      tbody
        each member in members
          tr
            td member.code
            td member.firstName
            td member.lastName
            td.text-center
              ul.table-controls
                li
                  a(href='javascript:void(0);', data-toggle='tooltip', data-placement='top', title='Edit')
                    svg  ... 
                li
                  a(href='javascript:void(0);', data-toggle='tooltip', data-placement='top', title='Delete')
                    svg  ... 
        else
          tr
            td(colspan='4') Sin datos